---
layout: layout.njk
title: Cezarr's Shrines
description: Because what is the retro-themed website without shrines?
background: stars.gif
---

<img src="/images/texts/shrines.png" alt="Shrines" height="60">
<br>Or more like collection of pages, that didn't fit into other sections of my website.
<h3><a href="/characters/index.html">My Favourite Characters</a> (2025-09-06)</h3>
<h3><a href="/play3d_deepv/index.html">Play3D & DeepV - Netscape Plugins</a> (2025-08-24)</h3>
<h3><a href="/night/index.html">Reflections at 2:00 AM</a> (one day :v)</h3>
<h3><a href="/sunrise/index.html">The First Sunrises of 2000</a> (2025-09-13)</h3>
